header {
    .modoClaroBoton {
        float: left;
        margin: 1rem 2rem;
        padding: .5rem 1rem;
        cursor: pointer;
        color: #201f1f;
        border: solid 1px #666565;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.2rem;

        body.Claro & {
            float: left;
            margin: 1rem 2rem;
            padding: .5rem 1rem;
            cursor: pointer;
            color: #d6cece;
            background-color: #5a5656;
            border: solid 1px #666565;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    .modoClaroBoton::after {
        content: "Light 🌕";

        body.Claro & {
            content: "Dark 🌒";
        }
    }
}