.modoClaroBoton {
    float: left;
    margin: 1rem 2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #383838;
    border: solid 1px #666565;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}