@font-face {
    font-family: blackRaven;
    src: url(./../assets/fonts/black-ravens/BlackRavens.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html {
    font-size: 62.5%;

    body {
        font-size: 1.6rem;
        background-image: url(https://images.unsplash.com/photo-1516035069371-29a1b244cc32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764);
        background-repeat: initial;
        position: relative;
        min-height: 100vh;
        transition: ease all .3s;

        &.Claro {
            background-image: url(https://images.unsplash.com/photo-1516852294404-5423eaa0d4a9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687);
            background-repeat: initial;
        }

        &.bodyIndex {
            position: relative;
            min-height: 100vh;

            .cajasMenu {
                display: grid;
                justify-items: center;
                align-items: center;
                margin: 20px 0 50px 1rem;
                gap: 1rem;
                grid-auto-rows: 200px;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-flow: dense;

                .caja {
                    display: flex;
                    width: 200px;
                    height: 200px;
                    border: #8d74d3 solid 5px;
                    border-radius: 3rem;
                    margin: 10px 20px;
                    background-image: linear-gradient(to bottom, #5f3fb6, #8d74d3);
                    &:hover{
                        background-image: linear-gradient(to bottom, #ca6262, #973535);
                    }
                    p {
                        font-size: 3rem;
                        margin: auto;
                        text-align: center;
                        color: #FFFF00;
                        text-transform: capitalize;
                    }
                }
            }
        }

        header {
            .modoClaroBoton {
                float: left;
                margin: 1rem 2rem;
                padding: .5rem 1rem;
                cursor: pointer;
                color: #ffffff;
                background-color: #383838;
                border: solid 1px #666565;
                border-radius: 5px;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 1.2rem;
            }

            #iconoInicio {
                text-align: end;
                color: #8d74d3;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin: 1em;

                i {
                    font-size: 2em;
                    margin-right: 1%;
                }
            }
        }

        h1 {
            font-family: blackRaven;
            color: #ba2285;
            text-align: center;
            font-size: 5rem;
        }

        .galeriaImagenes {
            columns: 3 300px;
            margin: 0.5rem 1rem;

            img {
                max-width: 100%;
                margin-bottom: 10px;
                border: solid 2px #867e7e;
                border-radius: 10px;
                box-shadow: 0 0 5px 5px #f5f1f13f;
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: #7b80ad;
            color: black;
            text-align: center;
        }
    }
}