@font-face {
    font-family: blackRaven;
    src: url(./../assets/fonts/black-ravens/BlackRavens.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: #000000;
    margin: 1em;

    h1 {
        font-family: blackRaven;
        color: #ba2285;
        text-align: center;
        font-size: 5rem;
    }

    .galeriaImagenes {
        columns: 3 300px;
        margin: 0.5rem 1rem;

        img {
            max-width: 100%;
            margin-bottom: 10px;
            border: solid 2px #867e7e;
            border-radius: 10px;
            box-shadow: 0 0 5px 5px #f5f1f13f;
        }
    }
}