@import './gridCajas', './modoClaro', './galeriaImagenes';

@font-face {
    font-family: blackRaven;
    src: url(./../assets/fonts/black-ravens/BlackRavens.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;

    body {
        font-size: 1.6rem;
        background-image: url(https://images.unsplash.com/photo-1516035069371-29a1b244cc32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764);
        background-repeat: initial;
        position: relative;
        min-height: 100vh;
        transition: ease all .3s;

        &.Claro {
            background-image: url(https://images.unsplash.com/photo-1516852294404-5423eaa0d4a9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687);
            background-repeat: initial;


        }

        header {


            #iconoInicio {
                text-align: end;
                color: #8d74d3;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin: 1em;

                i {
                    font-size: 2em;
                    margin-right: 1%;
                }
            }
        }

        h1 {
            font-family: blackRaven;
            color: #ba2285;
            text-align: center;
            font-size: 5rem;
        }

        footer {
            position: absolute;
            bottom: 0;
            height: auto;
            width: 100%;
            background-color: #7b80ad;
            color: black;
            text-align: center;
        }
    }
}